body{
background-color: antiquewhite;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:18;
}
.container {
    max-width: 500px;
    margin: 40px;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    
}
h3 {
    text-align: center;
    color: #1d1c1c;
    margin-bottom: 20px;
}